[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rq = "*"
cookiecutter = "*"
googlemaps = "*"
ipython = "*"
python-dotenv = "*"
pandas = "*"
xlrd = "*"
spacy = {extras = ["cuda92"],version = "*"}
missingno = "*"
ipykernel = "*"
jupyter = "*"
superintendent = "*"
statsmodels = "*"

[requires]
python_version = "3.7"
